[submodule ".local/src/dwm"]
	path = .local/src/dwm
	url = git@gitlab.com:mr_whoknows/dwm-build.git
[submodule ".local/src/slstatus"]
	path = .local/src/slstatus
	url = git@gitlab.com:mr_whoknows/slstatus.git
